aniso8601==7.0.0
astroid==2.3.1
autopep8==1.4.4
awscli==1.16.302
boto3==1.10.38
botocore==1.13.38
colorama==0.4.1
dj-database-url==0.5.0
Django==2.2.18
django-cors-headers==3.2.0
django-graphql-jwt==0.2.2
django-heroku==0.3.1
djangorestframework==3.10.3
docutils==0.15.2
graphene==2.1.8
graphene-django==2.6.0
graphene-file-upload==1.2.2
graphql-core==2.2.1
graphql-relay==2.0.0
gunicorn==20.0.4
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.2
mccabe==0.6.1
# pkg-resources==0.0.0
promise==2.2.1
psycopg2==2.8.3
pyasn1==0.4.8
pycodestyle==2.5.0
PyJWT==1.7.1
pylint==2.4.2
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
rsa==3.4.2
Rx==1.6.1
s3transfer==0.2.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.7
whitenoise==4.1.4
wrapt==1.11.2
